lead-capture-workflow.json
{
  "name": "Lead Capture Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-lead-capture",
        "responseMode": "onReceived"
      },
      "id": 1,
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@tuguidragos.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Welcome to the System!",
        "text": "Hey {{$json[\"firstName\"]}},\n\nThanks for connecting! We\u2019ll reach out with more details soon.\n\n\u2013 Tugui Drago\u0219"
      },
      "id": 2,
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        550,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "appXXXXXXXXXXXXXX",
        "tableId": "tblXXXXXXXXXXXXXX",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Name",
              "fieldValue": "={{$json[\"firstName\"]}} {{$json[\"lastName\"]}}"
            },
            {
              "fieldId": "Email",
              "fieldValue": "={{$json[\"email\"]}}"
            },
            {
              "fieldId": "Source",
              "fieldValue": "GoHighLevel"
            }
          ]
        }
      },
      "id": 3,
      "name": "Add to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        550,
        400
      ],
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "My Airtable API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#leads",
        "text": "\ud83d\udce5 New lead received: {{$json[\"firstName\"]}} {{$json[\"lastName\"]}} ({{$json[\"email\"]}})"
      },
      "id": 4,
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "My Slack API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Airtable": {
      "main": []
    },
    "Slack Notification": {
      "main": []
    }
  },
  "active": false,
  "settings": {},
  "id": "259b5ebd-7311-416b-8d9a-22d85bbf4b75"
}